body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 40px;
}
h2 {
    text-align: center;
    color: #5b5b5f;
}
form {
    max-width: 300px;
    margin: 0 auto;
    background: white;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #5058e2;
}
select {
    font-size: 14px; /* Smaller font size for the dropdown */
    height: 30px; /* Smaller height if needed */
    padding: 4px 8px; /* Adjust padding to align with the new size */
}   

#message {
    color: red; /* Error message in red */
    margin-bottom: 10px; /* Spacing before the submit button */
}

/* Rooms-container */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f4f4f9;
}

h1 {
    color: #333;
}

#rooms-container {
    margin-top: 20px;
}

.room {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.room h2 {
    color: #5b5b5f;
}

.room p {
    color: #666;
    font-size: 16px;
}
